@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


:root {
    --custom-primary-color: rgb(100,0,180);
    --custom-secondary-color: #448155;
    --custom-third-color: #9B5E26;
}

body {
    background-color: black;
}


.rock-salt {
  font-family: "Rock Salt", cursive;
} 

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} 